.App {
  text-align: center;
  margin: 100px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#board {
  margin-top: 50px;
  padding: 30px;
  background-color: #f1f1f1;
  box-shadow: 0 5px 8px -3px rgba(0, 0, 0, 0.5);
}
#board .row {
  width: 100%;
  border-bottom: 1px solid #a2a2a2;
}

#board .row .col {
  float: left;
  border-right: 1px solid #a2a2a2;
}

#board .row:first-child {
  border-top: 1px solid #a2a2a2;
}

#board .row .col:first-child {
  border-left: 1px solid #a2a2a2;
}

.stone {
  background: url("./black_stone.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.white-stone {
  background: url("./white_stone.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
